body {
    font-family: Arial, sans-serif;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    background-color: #f5f5f5;
}

h1 {
    text-align: center;
}

.tabs {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.tab {
    background-color: grey;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
}

.tab.active {
    background-color: green;
}

#classement {
    margin-bottom: 20px;
}
.tabs{
    display:flex;
    gap:10px;
    margin:20px 0;
}

.tab{
    padding:10px 20px;
    border:none;
    border-radius:6px;
    cursor:pointer;
    background:#cccccc;
}

.tab.active{
    background:#00854a;
    color:white;
}

.match {
    background: white;
    border: 1px solid #cccccc;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 10px;
}

.match h3 {
    margin: 0 0 10px 0;
}

.match p {
    margin: 0;
    color: #666;
}

.match{
    border:1px solid #cccccc;
    border-radius:8px;
    padding:12px;
    margin-bottom:10px;
    background:white;
}

.match h3{
    margin-top:0;
}

.prono{
    display:flex;
    gap:10px;
    margin-top:10px;
}

.prono input{
    width:70px;
    padding:8px;
}

.prono button{
    background:#00854a;
    color:white;
    border:none;
    border-radius:5px;
    padding:8px 15px;
    cursor:pointer;
}

#joueur {
    margin-bottom: 20px;
}

#joueur label {
font-weight: bold;
}

#joueur input {
    padding: 8px;
    margin-left: 10px;
}

#auth{
    margin-bottom:20px;
}

#loginBtn{

    background:#4285F4;
    color:white;

    border:none;

    padding:10px 15px;

    border-radius:6px;

    cursor:pointer;

}

#currentUser{

    margin-top:10px;

    font-weight:bold;

}
#journeeSelector{

    display:flex;
    justify-content:center;
    align-items:center;
    gap:15px;

    margin-bottom:20px;

}

#journeeSelector button{

    border:none;
    background:#00854a;
    color:white;

    padding:8px 15px;

    border-radius:5px;

    cursor:pointer;

}

.equipes {

    display: flex;
    justify-content: space-between;

    font-weight: bold;
    font-size: 18px;

}

.resultat {

    display: flex;
    justify-content: center;
    gap: 25px;

    margin: 15px 0;

    font-size: 36px;
    font-weight: bold;

}

.statut {

    margin-top: 10px;
    font-weight: bold;

}

.avenir {

    color: #808080;

}

.encours {

    color: #ff9800;

}

.termine {

    color: #22a447;

}

.pronoScores {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.pronoCol {
    width: 45%;
    text-align: center;
}

.pronoCol input {
    width: 70px;
    text-align: center;
}

.pronoBtn {
    width: 10%;
    text-align: right;
}
