body {
    font-family: Arial, sans-serif;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    background-color: #f5f5f5;
}

h1 {
    text-align: center;
}

#classement {
    margin-bottom: 20px;
}

.tabs{
    display:flex;
    gap:10px;
    margin:20px 0;
}

.tab{
    padding:10px 20px;
    border:none;
    border-radius:6px;
    cursor:pointer;
    background:#cccccc;
}

.tab.active{
    background:#00854a;
    color:white;
}

.match {
    background: white;
    border: 1px solid #cccccc;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 10px;
}

.match h3 {
    margin: 0 0 10px 0;
}

.match p {
    margin: 0;
    color: #666;
}

#joueur {
    margin-bottom: 20px;
}

#joueur label {
font-weight: bold;
}

#joueur input {
    padding: 8px;
    margin-left: 10px;
}

#auth{
    margin-bottom:20px;
}

#loginBtn{

    background:#4285F4;
    color:white;

    border:none;

    padding:10px 15px;

    border-radius:6px;

    cursor:pointer;

}

#currentUser{

    margin-top:10px;

    font-weight:bold;

}
#journeeSelector{

    display:flex;
    justify-content:center;
    align-items:center;
    gap:15px;

    margin-bottom:20px;

}

#journeeSelector button{
    border:none;
    background:#00854a;
    color:white;

    padding:8px 15px;

    border-radius:5px;

    cursor:pointer;
}

.statut {
    margin-top: 10px;
    font-weight: bold;
}

.avenir {color: #808080}

.encours {color: #ff9800}

.termine {color: #22a447}

.grilleMatch {

    display: grid;

    grid-template-columns:
        1fr
        60px
        1fr;

    row-gap: 12px;

    align-items: center;

    text-align: center;

}

.equipe {

    font-weight: bold;

    font-size: 18px;

}

.score {

    font-size: 32px;

    font-weight: bold;

    color: #00854a;

}

.separateur {

    text-align: center;

    font-size: 28px;

    font-weight: bold;

}

.prono input {

    width: 60px;

    padding: 5px;

    text-align: center;

}

.actionsMatch {

    margin-top: 15px;

    text-align: center;

}

.classementTable {

    width: 100%;

    border-collapse: collapse;

    background: white;

}

.classementTable th {

    background: #00854a;

    color: white;

    padding: 10px;

}

.classementTable td {

    border: 1px solid #dddddd;

    padding: 8px;

    text-align: center;

}

.classementTable tr:nth-child(even) {

    background: #f5f5f5;

}
